<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="EquipShare is a construction equipment sharing platform enabling contractors, concrete suppliers, developers and other associated agencies as well professionals to manage their equipments efficiently and effectively as well who have unused equipment can rent their idle equipment to other peers at and earn on the time which anyway going to be idle cost to a rental income. ">
	<meta name="keywords" content="Construction equipment rental, Equipment hiring, construction equipment sharing, equipment leasing, equipment selling, used equipment buying, sharing of equipment, equip share,">
	<title>Equipshare : Online construction equipment share, hiring, buy and sales available at ease.</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body class="about-page">
		<%- include header.ejs %>
						<!---------------Header----------------->	

				<!---------------Header----------------->
				<!---------------Featured-Image---------------->
<div class="Featured-image">
	<div class="caption">
		<h2>Product Entry</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
	<img src="images/featured-img.jpg" class="img-responsive">
	<a href="#" class="back-top-home"><img src="images/home-icon.png" class="img-responsive"></a>
</div>
					<!---------------Featured-Image-------->		
					<!---------------Content---------------->
<div class="content">
	<div class="content-area">
<!-- <div class="container">
		<div class="row">
			<h3>Who we are</h3>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
			</div>
		</div>
</div>			 -->

<div class="custom-product-forms">
<div class="row">
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="product-header">
            <h3>Product Forms</h3>
            <hr>
        </div>
    </div> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- <form method="post" action="#">
			<div id="contact-form" class="form-container" data-form-container>
			<div class="row">
				<div class="form-title">
					<span>Product Form</span>
				</div>
			</div>
			<div class="input-container">
				<div class="row">
					<span class="req-input" >
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your Product Name."> </span>
                        
                        <input type="text" data-min-length="8" placeholder="Product Name" name="p_name">
					</span>
				</div>
                <div class="row">
					<span class="req-input message-box">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Include Product Description."> </span>
						<textarea type="textarea" data-min-length="10" placeholder="Enter Product Description" name="p_desc"></textarea>
				</div>
                
				<div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Product Rental Rate"> </span>
						<input type="text" placeholder="Enter Product Rental Rate" name="p_rental_rate">
					</span>
                </div>
                <div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Product Lease Rate."> </span>
						<input type="text" placeholder="Enter Product Lease Rate" name="p_lease_rate">
					</span>
                </div>
                <div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input New Rate."> </span>
						<input type="text" placeholder="Enter Product New Rate" name="p_new_rate">
					</span>
                </div>
                <div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input New Rate."> </span>
                        <!-- <input type="number" placeholder="Enter Product New Rate" name="p_new_rate"> -->
                        <!-- <input type="file" name="p_image">
					</span>
				</div>
				
				<div class="row submit-row">
					<button type="button" class="btn btn-block submit-form">Submit</button>
				</div>
			</div>
			</div>
            </form> --> 
            <div class="container">
                <h2>Product form</h2>
                <hr>
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Product Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Enter Product Name" name="p_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Product Description</label>
                    <div class="col-sm-10">          
                      <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"> -->
                      <textarea col="5" rows="5" class="form-control" name="p_desc" placeholder="Enter Product Description"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Product Rental Rate</label>
                    <div class="col-sm-10">          
                    <input type="numbe" class="form-control" id="pwd" placeholder="Enter Product Rental Rate Ex. 70K/70L/7 CR" name="p_rental_rate"> 
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Product Lease Rate</label>
                    <div class="col-sm-10">          
                    <input type="numbe" class="form-control" id="pwd" placeholder="Enter Product Lease Rate " name="p_lease_rate"> 
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Product New Rate</label>
                    <div class="col-sm-10">          
                    <input type="numbe" class="form-control" id="pwd" placeholder="Enter Product New Rate" name="p_new_rate"> 
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Product Image</label>
                    <div class="col-sm-10">          
                    <input type="file" class="form-control" id="pwd" name="p_image"> 
                    </div>
                  </div>
                  <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
    </div>

</div>

</div>




</div>
<!-- <div class="bottom-blurb">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<ul class="list-unstyled list-inline">
		<li><img src="images/icons/cta-icon-1.png" class="img-responsive"><a href="#">Connect - Share - Grow</a></li>
		<li><img src="images/icons/cta-icon-2.png" class="img-responsive"><a href="#">Aggregation and allocation</a></li>
		<li><img src="images/icons/cta-icon-3.png" class="img-responsive"><a href="#">GPS Tracking and Utilization</a></li>
		<li><img src="images/icons/cta-icon-4.png" class="img-responsive"><a href="#">Safety and operations</a></li>
	</ul>
	</div>
	</div>
	</div>
</div> -->
<!-- <div class="container">
		<div class="row">
			<h3>Our Story</h3>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
			</div>
				
			</div>
		</div> -->
<!-- <div class="bottom-graphics">
<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3>Why it's a big deal</h3>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
				<h3>What we offer</h3>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<img src="images/about-img.png" class="img-responsive">
			</div>
		</div>
</div>
</div>					 -->
</div>
</div>
					<!---------------Content---------------->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<a href="/"><img src="images/footer-logo.png" class="img-responsive" alt="" title=""></a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<div class="footer-nav">	
				<div class="menu-area">
					<h4>Equipments</h4>
					<ul class="list-unstyled">
						<li>Popular</li>
						<li>Trending</li>
						<li>Catalog</li>
						<li>Features</li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Company</h4>
					<ul class="list-unstyled">
						<li><a href="/">Home</a></li>
						<li><a href="email">Rentals</a></li>
						<li><a href="solution.html">Solutions</a></li>
						<li><a href="blog.html">Blog</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Info</h4>
					<ul class="list-unstyled">
						<li>Rental Terms</li>
						<li>Disclaimer</li>
						<li><a href="policy.html">Privacy Policy</a></li>
						<li><a href="terms.html">Tearms of Service</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="col-lg-offset-0 col-lg-2 col-md-offset-0 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-2 col-xs-8 minus-margin">
				<h4>Follow Us</h4>
				<ul class="list-inline list-unstyled footer-social-icon">
				<li><a href="https://www.facebook.com/equipshare.in/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/equip_share" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/company/equipshare/?originalSubdomain=in" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
			</ul>
			<a href="email" class="contact-btn">Contact Us</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copy-right"><p>&copy;2018 EquipShare. All rights reserved</p></div>
		</div>
	</div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript">
	$('.center').slick({
  centerMode: true,
  dots: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
</script>
<script src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:0,
    autoplay:true,
    autoplayTimeout:6000,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:false
        },
        1000:{
            items:1,
            nav:true,
            loop:true
        }
    }
})
</script>
<script>
	$(window).scroll(function(){
    if ($(window).scrollTop() >= 50) {
        $('.site-navigation').addClass('fixed-header');
    }
    else {
        $('.site-navigation').removeClass('fixed-header');
    }
});

</script>
<script>
    $(function(){
  
  $('[data-toggle="tooltip"]').tooltip(); 
  
  $(".req-input input, .req-input textarea").on("click input", function(){
      validate($(this).closest("[data-form-container]"));
  });
  
  //This is for the on blur, if the form fields are all empty but the target was one of the fields do not reset to defaul state
  var currentlySelected;
  $(document).mousedown(function(e) {
      currentlySelected = $(e.target);
  });
  
  //Reset to form to the default state of the none of the fields were filled out
  $(".req-input input,  .req-input textarea").on("blur", function(e){
      var Parent = $(this).closest("[data-form-container]");
      //if the target that was clicked is inside this form then do nothing
      if(typeof currentlySelected != "undefined" && currentlySelected.parent().hasClass("req-input") && Parent.attr("id") == currentlySelected.closest(".form-container").attr("id"))
          return;
      
      var length = 0;
      Parent.find("input").each(function(){
          length += $(this).val().length;
      });
      Parent.find("textarea").each(function(){
          length += $(this).val().length;
      });
      if(length == 0){
          var container = $(this).closest(".form-container");
          resetForm(container);
      }
  });
  
  $(".create-account").on('click', function(){
      if($(".confirm-password").is(":visible")){
          $(this).text("Create an Account");
          $(this).closest("[data-form-container]").find(".submit-form").text("Login");
          $(".confirm-password").parent().slideUp(function(){
              validate($(this).closest("[data-form-container]"));
          });
      } else {
          $(this).closest("[data-form-container]").find(".submit-form").text("Create Account");
          $(this).text("Already Have an Account");
          $(".confirm-password").parent().slideDown(function(){
              validate($(this).closest("[data-form-container]"));
          });
      }
      
  });
  
  $("[data-toggle='tooltip']").on("mouseover", function(){
      console.log($(this).parent().attr("class"));
      if($(this).parent().hasClass("invalid")){
          $(".tooltip").addClass("tooltip-invalid").removeClass("tooltip-valid");
      } else if($(this).parent().hasClass("valid")){
          $(".tooltip").addClass("tooltip-valid").removeClass("tooltip-invalid");
      } else {
          $(".tooltip").removeClass("tooltip-invalid tooltip-valid");
      }
  });
  
})

function resetForm(target){
  var container = target;
  container.find(".valid, .invalid").removeClass("valid invalid")
  container.css("background", "");
  container.css("color", "");
}

function setRow(valid, Parent){
  var error = 0;
  if(valid){
      Parent.addClass("valid");
      Parent.removeClass("invalid");
  } else {
      error = 1;
      Parent.addClass("invalid");
      Parent.removeClass("valid");
  }
  return error;
}

function validate(target){
  var error = 0;
  target.find(".req-input input, .req-input textarea, .req-input select").each(function(){
      var type = $(this).attr("type");
      
      if($(this).parent().hasClass("confirm-password") && type == "password"){
          var type = "confirm-password"; 
      }
      
      var Parent = $(this).parent();
      var val = $(this).val();
      
      if($(this).is(":visible") == false)
          return true; //skip iteration
      
      switch(type) {
          case "confirm-password":
              var initialPassword = $(".input-password input").val();
              error += setRow(initialPassword  == val && initialPassword.length > 0, Parent);
              break;
          case "password":
          case "textarea":
          case "text":
              var minLength = $(this).data("min-length");
              if(typeof minLength == "undefined")
                  minLength = 0;
              error += setRow(val.length >= minLength, Parent);
              break; 
          case "email":
              error += setRow(validateEmail(val), Parent);
              break;
          case "tel":
              error += setRow(phonenumber(val), Parent);
              break;			
      }	
  });
  
  var submitForm = target.find(".submit-form");
  var formContainer = target;
  var formTitle = target.find(".form-title");
  if(error == 0){
      formContainer.css("background", "#C8E6C9");
      formContainer.css("color", "#2E7D32");
      submitForm.addClass("valid");
      submitForm.removeClass("invalid");
      return true;
  } else {		
      formContainer.css("background", "#FFCDD2");
      formContainer.css("color", "#C62828");
      submitForm.addClass("invalid");
      submitForm.removeClass("valid");
      return false;
  }
}
function phonenumber(inputtxt) {  
  if(typeof inputtxt == "undefined")
      return;
  var phoneno = /^\d{10}$/;  
  if((inputtxt.match(phoneno))) {  
      return true;  
  }  
  else {  
      return false;  
  }  
}  

function validateEmail(email) {
  var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}
</script>
</body>
</html>