
<html><head>
<style type="text/css">
@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
</style>
    <title>Equipshare</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="assets/images/favicon.ico" sizes="16x16">
    
    <!--css files link-->
    <link rel="stylesheet" href="assets/css/main.min.css" >
    
    <!--downloaded js files link-->
 
<script src="assets/js/scripts.js"></script>
    
   
    
    <!-- map javascript api -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyBJzzE1BJk___TNvfXTR2AC_5Z7eX3xoos&amp;libraries=drawing,places"></script>

<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/34/1/common.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/34/1/util.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/34/1/stats.js"></script>
</head>
    <body class="bk_color-light-grey ng-scope" ng-app="Equip">
        <!-- uiView: --><div ui-view="" class="ng-scope" style=""><!-- 
  Developer : Parag Gupta, Aakash Paliwal
 
  File Name : login.html
  Purpose   : user can perform login from this page 
 -->
<!-- login Page -->
<div class="grey_background ng-scope">
  <div class="login_div boxShadow col-md-8 col-md-offset-2">
    <!-- left logo div -->
    <div class="logo_div col-md-6 col-xs-12">
      <img class="col-md-12 col-md-offset-0 col-xs-8 col-xs-offset-2" src="assets/images/ES-logo.png">
    </div>

    <!-- right content div -->
    <div class="login_content_div col-md-6 col-xs-12">
      
                 
                  <span style="padding-left: 80px;color:red"><%= msg %></span><br>
      <div class="login_content_div_inner col-xs-12">
        
        <h1 ng-bind-html="globalData.currentTitle" class="ng-binding"></h1>
        <form method="post"  name="loginForm"  style="" action="/user_login">
            <div class="form-group">
               <input  type="text"  name="u_name" class="form-control" placeholder="User name"   maxlength="50" style="" required>
            </div>
        
            
            <div  class="form-group">
               <input  type="text" id="password-field" name="u_password" class="form-control " placeholder="Password"  required>
            </div>
          
            <button type="submit" class="bk_color-blue btn btn-block login_btn" ng-click="superAdminLogin()">LOGIN</button>

           

          
        </form>
      </div>
    </div>
  </div>
</div></div>
    

<!--  <div style="background-color: #fff; border: 1px solid #ccc; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); position: absolute; left: 0px; top: -10000px; transition: visibility 0s linear 0.3s, opacity 0.3s linear; opacity: 0; visibility: hidden; z-index: 2000000000;"><div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: #fff; opacity: 0.05;  filter: alpha(opacity=5)"></div><div class="g-recaptcha-bubble-arrow" style="border: 11px solid transparent; width: 0; height: 0; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;"></div><div class="g-recaptcha-bubble-arrow" style="border: 10px solid transparent; width: 0; height: 0; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;"></div><div style="z-index: 2000000000; position: relative;"><iframe title="recaptcha challenge" src="https://www.google.com/recaptcha/api2/bframe?hl=en&amp;v=v1531759913576&amp;k=6LeidD4UAAAAAGn8MsQawOsOGWNgLCYuzqE_LApf&amp;cb=7uxss3lsxwv9#n8bgjxincy2e" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox" name="n8bgjxincy2e" style="width: 100%; height: 100%;"></iframe></div></div> -->
</body></html>


  

