<a href="/addproduct">add product</a><br>
<a href="">Our products</a><br>
<a href="/addblog">add blog</a><br>
<a href="">Our blogs</a><br>
<a href="/adduser">add User</a><br>
<a href="/viewuser">view User</a><br>
<a href="/addpartner">addpartner</a><br>
<a href="/viewpartner">View partners</a><br>
<a href="/user_logout">logout</a><br>