<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="EquipShare is a construction equipment sharing platform enabling contractors, concrete suppliers, developers and other associated agencies as well professionals to manage their equipments efficiently and effectively as well who have unused equipment can rent their idle equipment to other peers at and earn on the time which anyway going to be idle cost to a rental income. ">
	<meta name="keywords" content="Construction equipment rental, Equipment hiring, construction equipment sharing, equipment leasing, equipment selling, used equipment buying, sharing of equipment, equip share,">
	<title>Equipshare : Online construction equipment share, hiring, buy and sales available at ease.</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body class="Blog-page detail-page">
		<%- include header.ejs %>
						<!---------------Header----------------->	
<header>
<!---------Navigation-Bar------------>
<!--header>
    <div class="head-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
                <ul class="list-inline list-unstyled info">
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@equipshare.in">info@equipshare.in</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91 9767460825">+91 9767460825</a></li>
                </ul>
            </div>
            <div class="col-lg-offset-5 col-lg-3 col-md-offset-3 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-5 social-icon-col">
                <ul class="list-inline list-unstyled social-icon">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
                <div class="logon-btns">
                    <a href="#">Login</a> | <a href="#">Signup</a>
                </div>
            </div>
    
        </div>
    </div>	
    
    </div>	
    
    <!---------Navigation-Bar------------>
    <!--div class="site-navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <nav class="navbar" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!--div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/site-logo.png" class="img-responsive"></a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!--div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="col-md-8 col-sm-8 col-xs-12">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#">Auction</a></li>
          <li><a href="solution.html">Solution</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="career.html">Career</a></li>
          <li><a href="enquiry.html">Enquiry</a></li>
        </ul>
    
            <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
            </form>
        </div>
      </div><!-- /.navbar-collapse -->
    <!--/nav>
    </div>
    </div>
    </div>
    </div>
    <!---------Navigation-Bar------------>
    <!--/header>

				<!---------------Header----------------->
				<!---------------Featured-Image----------------->
					<!---------------Featured-Image----------------->		
					<!---------------Content---------------->
<div class="content">
	<div class="container">
<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			
            
    <div class="custom-blog-header-image">
        <img src="images/blog/blog5.png" class="img-responsive">
    </div>
</div>
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
<br>
<div class="custom-blog-para">
    <p><h1>SMART CITY :</h1> 
The term SMART CITY was coined towards the end of the 20th century. It is rooted in the implementation of user-friendly information and communication technologies developed by major industries for urban spaces. Its meaning has since been expanded to relate to the future of cities and their development.
</p><h4>SMART CITY PROJECT :</h4>

The smart city industry is projected to be a $400 billion market by 2020, with 600 cities worldwide. These cities are expected to generate 60% of the world's GDP by 2025, according to McKinsey research, as previously published in TechRepublic.
While there are many definitions of a smart city, in general, a smart city utilizes Internet of things sensors, actuators and technology to connect components across the city, and it impacts every layer of a city, from underneath the streets, to the air that citizens are breathing. Data from all segments is analyzed patterns are derived from the collected data.


    <p><h4>1) smart energy</h4>
There are key technologies that make a both residential and commercial buildings in smart cities are more efficient, using less energy, and the energy used is analyzed and data collected. Smart grids are part of the development of a smart city, and smart streetlights are an easy entry point for many cities, since LED lights save money and pay for themselves within a few years.
"Lighting is ubiquitous—it's everywhere that people work, travel, shop, dine, and relax. Digital communications and energy-efficient LED lighting are revolutionizing urban lighting infrastructures already in place, transforming them into information pathways with the capacity to collect and share data and offer new insights that enable, and really drive, the smart city.
                                     Overall energy usage is also part of a smart city. many may have experienced this already with the installation of smart meters at their homes. But with the rise of home solar power systems and electric vehicles, hardware and software technology will allow for the potential of better grid management, optimization of power production through different sources and distributed energy production.
</p>
<p><h4>
    2) Smart transportation</h4>
                                           A smart city supports multi-modal transportation, smart traffic lights and smart parking.One of the key areas that we have seen a lot of activity on has to do with mobility. These are areas where cities are seeing a very fast return on investment. It not only helps to reduce the cost of monitoring parking and making sure that they are collecting fines, it's also reducing congestion."
                       By making parking smarter, people spend less time looking for parking spots and circling city blocks. Smart traffic lights have cameras that monitor traffic flow so that it's reflected in the traffic signals.
Even city buses are becoming connected, so that people have real time information on when a bus will arrive at a bus stop. In Australia, traffic lights are prioritized based on the bus schedules so that traffic flows more freely during rush hours. using sensors to collect data about the movement of people, all forms of vehicles and bikes. A smart city is one that greatly reduces vehicle traffic and allows people and goods to be moved easily through various means. 
Intelligent traffic systems are an example of this and the achievement of autonomous vehicle transportation would be a prime example of success for a smart city, as this could reduce vehicle related deaths. All these efforts would reduce pollution as well as time stuck in traffic, resulting in a healthier population.

    </p>
    <p><h4>3) Smart data</h4>
          The massive amounts of data collected by a smart city must be analyzed quickly in order to make it useful. Open data portals are one option that some cities have chosen in order to publish city data online, so that anyone can access it and use predictive analytics to assess future patterns.                Companies such as Community are working with cities to help them analyze data, and they're in the Startup in Residence (STiR) program for the city.
                                        The pervasiveness of technology and the expansion of open data policies is about an economic growth engine for urban innovation that we have never seen. We are moving from analyzing data that exists within city hall, to generating new data from sensors that are deployed all across cities for use by multiple departments and people for multiple uses. Said : John Gordon, chief digital officer at Current, powered by GE.
 Predictive analytics helps cities filter and translate data into relevant and actionable information that makes city life better, easier, and more productive.

    </p>
<p><h4>4) Smart infrastructure</h4>
 Cities will be able to plan better with a smart city ability to analyze large amounts of data. This will allow for proactive maintenance and better planning for future demand. Being able to test for lead content in water in real time when the data shows a problem is emerging could prevent public health issue.
 
Having a smart infrastructure means that a city can move forward with other technologies and use the data collected to make meaningful changes in future city plans.
</p>
<p><h4>
5) Smart mobility</h4>
                              Mobility refers to both the technology and the data which travels across the technology. The ability to move in and out of many different municipal and private systems is essential if we are to realize the promise of smart cities. 
 Building the smart city will never be a project that is "finished." Technology needs to be interoperable and perform to expectations regardless of who made it or when it was made. 
           Data also needs to be unconstrained as it moves between systems, with all due attention to intellectual property, security and privacy concerns. For this, public policy and legal technology needs to be state of the art.
</p>
<p><h4>6) Smart IOT (internet of things) devices</h4>
Finally, one of the key components that ties everything together in a smart city is IOT devices.Internet of Things (IOT) expands and impacts municipal services around the globe.

</p>
</div>
</div>
</div><hr>





		</div>
	</div>


</div>
					<!---------------Content---------------->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="images/footer-logo.png" class="img-responsive" alt="" title="">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<div class="footer-nav">	
				<div class="menu-area">
					<h4>Equipments</h4>
					<ul class="list-unstyled">
						<li><a href="#">Popular</a></li>
						<li><a href="#">Trending</a></li>
						<li><a href="#">Catalog</a></li>
						<li><a href="#">Features</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Company</h4>
					<ul class="list-unstyled">
						<li><a href="/">Home</a></li>
						<li><a href="email">Rentals</a></li>
						<li><a href="solution.html">Solutions</a></li>
						<li><a href="blog.html">Blog</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Info</h4>
					<ul class="list-unstyled">
						<li><a href="#">Rental Terms</a></li>
						<li><a href="#">Disclaimer</a></li>
						<li><a href="policy.html">Privacy Policy</a></li>
						<li><a href="terms.html">Tearms of Service</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="col-lg-offset-0 col-lg-2 col-md-offset-0 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-2 col-xs-8 minus-margin">
				<h4>Follow Us</h4>
				<ul class="list-inline list-unstyled footer-social-icon">
				<li><a href="https://www.facebook.com/equipshare.in/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/equip_share" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/company/equipshare/?originalSubdomain=in" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
			</ul>
			<a href="#" class="contact-btn">Contact Us</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copy-right"><p>&copy;2018 EquipShare. All rights reserved</p></div>
		</div>
	</div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript">
	$('.single-item').slick();
</script>
<script src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:0,
    autoplay:true,
    autoplayTimeout:6000,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:false
        },
        1000:{
            items:1,
            nav:true,
            loop:true
        }
    }
})
</script>
<script>
	$(window).scroll(function(){
    if ($(window).scrollTop() >= 50) {
        $('.site-navigation').addClass('fixed-header');
    }
    else {
        $('.site-navigation').removeClass('fixed-header');
    }
});

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112031235-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112031235-1');
</script>
</body>
</html>
