<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="EquipShare is a construction equipment sharing platform enabling contractors, concrete suppliers, developers and other associated agencies as well professionals to manage their equipments efficiently and effectively as well who have unused equipment can rent their idle equipment to other peers at and earn on the time which anyway going to be idle cost to a rental income. ">
	<meta name="keywords" content="Construction equipment rental, Equipment hiring, construction equipment sharing, equipment leasing, equipment selling, used equipment buying, sharing of equipment, equip share,">
	<title>Equipshare : Online construction equipment share, hiring, buy and sales available at ease.</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body class="about-page">
		<%- include header.ejs %>
						<!---------------Header----------------->	

<!---------Navigation-Bar------------>
<!--header>
    <div class="head-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
                <ul class="list-inline list-unstyled info">
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@equipshare.in">info@equipshare.in</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91 9767460825">+91 9767460825</a></li>
                </ul>
            </div>
            <div class="col-lg-offset-5 col-lg-3 col-md-offset-3 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-5 social-icon-col">
                <ul class="list-inline list-unstyled social-icon">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
                <div class="logon-btns">
                    <a href="#">Login</a> | <a href="#">Signup</a>
                </div>
            </div>
    
        </div>
    </div>	
    
    </div>	
    
    <!---------Navigation-Bar------------>
 
    <!---------Navigation-Bar------------>
    <!--/header>
<!---------Navigation-Bar------------>

				<!---------------Header----------------->
				<!---------------Featured-Image---------------->
				<div class="Featured-image">
					<div class="caption">
						<h2>Blog</h2>
						<p>Blogs are a great way to learn from others mistakes.</p>
					</div>
					<img src="images/featured-img.jpg" class="img-responsive">
					<a href="#" class="back-top-home"><img src="images/home-icon.png" class="img-responsive"></a>
				</div>

					<!---------------Featured-Image----------------->			
					<!---------------Content---------------->
<div class="content">
	<div class="content-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

				<main>

					<div class="custom-main-blog-details">
						<a href="completeblog.html?id=3" target="_blank">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h3 style="text-align: left;padding-bottom: 0;margin-botto:0">Vision</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div class="blog-images-valid">
								<img src="images/blog/Screenshot (12).png" class="img-responsive">
							</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
								<div class="blog-post">
<p style="text-align: left">Plastics are one of derivative of petrochemicals, unlike other derivatives of petrochemical it is generally thought of with a different perspective a positive and a negative.
		Plastic industry is reaching new elevations nowadays . He have almost everything manufactured in plastic let it be a small toothbrush to even parts of our vehicles everything in every zonal.
		</p>
								
								<div class="post-detail">
										<span class="date">
											<i class="fa fa-clock-o" aria-hidden="true"></i> 15 Aug 2018
										</span>
										<span class="view">
											<i class="fa fa-eye" aria-hidden="true"></i>
					307
										</span>
									</div>	
							</div>
							</div>
						</div>
					</a>
						<hr>
						<br><br>
						<a href="completeblog.html?id=4" target="_blank">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h3 style="text-align: right">5 FAMOUS INFRASTRUCTURAL PROJECTS CRAWLING IN INDIA</h3>
							</div>
								<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
										<p style="text-align: left">Indian architecture is as old as the history of civilization. Development of a country depends upon how much  urbanised it is .
											There is no point of explaining that how much importance the construction of the eye catching building and structures hold in the economic strength of the country.
											It not only adds a little flare to the beauty of a place but also gives employment to those thousands of unemployed youth who were starving for a single meal. ....
												</p>
												<div class="post-detail">
														<span class="date">
															<i class="fa fa-clock-o" aria-hidden="true"></i> 15 Aug 2018
														</span>
														<span class="view">
															<i class="fa fa-eye" aria-hidden="true"></i>
									208
														</span>
													</div>	
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<div class="blog-post">
	
			<div class="blog-images-valid">
					<img src="public/images/blog/post4.png" class="img-responsive">
				</div>
									
									
								</div>
								</div>
							</div>
							</a>
							<hr>
							<br><br>
							<a href="completeblog.html?id=2" target="_blank">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<h3 style="text-align: left">The Burj Khalifa Project</h3>
								</div>
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<div class="blog-images-valid">
										<img src="images/blog/Screenshot (13).png" class="img-responsive">
									</div>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
										<div class="blog-post">
		<p style="text-align: left">The Burj Dubai Project is a multi-use development tower with a total floor area of 460,000 square meters that includes residential, hotel, commercial, office, entertainment, shopping, leisure, and parking facilities
				</p>
										
										<div class="post-detail">
												<span class="date">
													<i class="fa fa-clock-o" aria-hidden="true"></i> 14 Aug 2018
												</span>
												<span class="view">
													<i class="fa fa-eye" aria-hidden="true"></i>
							800
												</span>
											</div>	
									</div>
									</div>
								</div>
							</a>
								<br><br>
								<hr>
								<a href="completeblog.html?id=6" target="_blank">
								<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<h3 style="text-align: right">No Delays</h3>
										</div>
											<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
													<p style="text-align: left">The construction industry is one of the main sectors that provide important ingredient for the development of an economy. However, many projects experience extensive delays and thereby exceed initial time and cost estimates.
															</p>
															<div class="post-detail">
																	<span class="date">
																		<i class="fa fa-clock-o" aria-hidden="true"></i> 12 Aug 2018
																	</span>
																	<span class="view">
																		<i class="fa fa-eye" aria-hidden="true"></i>
												504
																	</span>
																</div>	
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<div class="blog-post">
				
						<div class="blog-images-valid">
								<img src="images/blog/Screenshot (14).png" class="img-responsive">
							</div>
												
												
											</div>
											</div>
										</div>
									</a>




					</div>
</main>
			</div>

			
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<aside>
		<div class="sidebar">
			<h3 class="title-heading">Top Stories</h3>
	<ul class="list-inline list-unstyled">
		<li>
			<a href="completeblog.html?id=1" target="_blank">

			<div class="post-img">
				<h3>Why India Need Bullet Train</h3>
				<img src="images/blog/Screenshot (15).png" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Around and analyzing the major technological innovations where governments and private enterprises as
						well, are putting hundreds of billions of dollars, we could imply that a good number of such technological
						developments are related to the transportation sector
						</p>
			</div>
			</a>
		</li>
		<hr>
<br><br>
<li>
	<a href="completeblog.html?id=5" target="_blank">
		<div class="post-img">
			<h3>Smart City</h3>
			<img src="images/blog/Screenshot (17).png" class="img-responsive">
		</div>
		<div class="post-content">
			<h4><a href="#">The number of protons</a></h4>
			<p>The term SMART CITY was coined towards the end of the 20th century. It is rooted in the implementation of user-friendly information and communication technologies developed by major industries for urban spaces. Its meaning has since been expanded to relate to the future of cities and their development.
					</p>
		</div>
	</a>
	</li>

	</ul>
		</div>

		<!-- <div class="sidebar">
			<h3 class="title-heading">Top Stories</h3>
	<ul class="list-inline list-unstyled">
		<li>
			<div class="post-img">
				<img src="images/home-blog-3.jpg" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla.</p>
			</div>
		</li>
		<li>
			<div class="post-img">
				<img src="images/home-blog-3.jpg" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla.</p>
			</div>
		</li>
		<li>
			<div class="post-img">
				<img src="images/home-blog-3.jpg" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla.</p>
			</div>
		</li>
	</ul>
		</div>

		<div class="sidebar">
			<h3 class="title-heading">Top Stories</h3>
	<ul class="list-inline list-unstyled">
		<li>
			<div class="post-img">
				<img src="images/home-blog-3.jpg" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla.</p>
			</div>
		</li>
		<li>
			<div class="post-img">
				<img src="images/home-blog-3.jpg" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla.</p>
			</div>
		</li>
		<li>
			<div class="post-img">
				<img src="images/home-blog-3.jpg" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla.</p>
			</div>
		</li>
	</ul>
		</div>

		<div class="sidebar">
			<h3 class="title-heading">Top Stories</h3>
	<ul class="list-inline list-unstyled">
		<li>
			<div class="post-img">
				<img src="images/home-blog-3.jpg" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla.</p>
			</div>
		</li>
		<li>
			<div class="post-img">
				<img src="images/home-blog-3.jpg" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla.</p>
			</div>
		</li>
		<li>
			<div class="post-img">
				<img src="images/home-blog-3.jpg" class="img-responsive">
			</div>
			<div class="post-content">
				<h4><a href="#">The number of protons</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla.</p>
			</div>
		</li>
	</ul>
		</div> -->

	</aside>	
</div>

		</div>
		</div>
		</div>
	
</div>


</div>
					<!---------------Content---------------->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<a href="/"><img src="images/footer-logo.png" class="img-responsive" alt="" title=""></a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<div class="footer-nav">	
				<div class="menu-area">
					<h4>Equipments</h4>
					<ul class="list-unstyled">
						<li>Popular</li>
						<li>Trending</li>
						<li>Catalog</li>
						<li>Features</li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Company</h4>
					<ul class="list-unstyled">
						<li><a href="/">Home</a></li>
						<li><a href="email">Rentals</a></li>
						<li><a href="solution.html">Solutions</a></li>
						<li><a href="blog.html">Blog</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Info</h4>
					<ul class="list-unstyled">
						<li>Rental Terms</li>
						<li>Disclaimer</li>
						<li><a href="policy.html" target="_blank">Privacy Policy</a></li>
						<li><a href="terms.html" target="_blank">Tearms of Service</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="col-lg-offset-0 col-lg-2 col-md-offset-0 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-2 col-xs-8 minus-margin">
				<h4>Follow Us</h4>
				<ul class="list-inline list-unstyled footer-social-icon">
				<li><a href="https://twitter.com/equip_share"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="https://www.facebook.com/equipshare.in/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/company/equipshare/?originalSubdomain=in"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
			</ul>
			<a href="email" class="contact-btn">Contact Us</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copy-right"><p>&copy;2018 EquipShare. All rights reserved</p></div>
		</div>
	</div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript">
	$('.single-item').slick();
</script>
<script src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:0,
    autoplay:true,
    autoplayTimeout:6000,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:false
        },
        1000:{
            items:1,
            nav:true,
            loop:true
        }
    }
})
</script>
<script>
	$(window).scroll(function(){
    if ($(window).scrollTop() >= 50) {
        $('.site-navigation').addClass('fixed-header');
    }
    else {
        $('.site-navigation').removeClass('fixed-header');
    }
});

</script>
</body>
</html>