<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="EquipShare is a construction equipment sharing platform enabling contractors, concrete suppliers, developers and other associated agencies as well professionals to manage their equipments efficiently and effectively as well who have unused equipment can rent their idle equipment to other peers at and earn on the time which anyway going to be idle cost to a rental income. ">
	<meta name="keywords" content="Construction equipment rental, Equipment hiring, construction equipment sharing, equipment leasing, equipment selling, used equipment buying, sharing of equipment, equip share,">
	<title>Equipshare : Online construction equipment share, hiring, buy and sales available at ease.</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body class="Blog-page detail-page">
		<%- include header.ejs %>
						<!---------------Header----------------->	
<header>
<!---------Navigation-Bar------------>
<!--header>
    <div class="head-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
                <ul class="list-inline list-unstyled info">
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@equipshare.in">info@equipshare.in</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91 9767460825">+91 9767460825</a></li>
                </ul>
            </div>
            <div class="col-lg-offset-5 col-lg-3 col-md-offset-3 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-5 social-icon-col">
                <ul class="list-inline list-unstyled social-icon">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
                <div class="logon-btns">
                    <a href="#">Login</a> | <a href="#">Signup</a>
                </div>
            </div>
    
        </div>
    </div>	
    
    </div>	
    
    <!---------Navigation-Bar------------>
    <!--div class="site-navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <nav class="navbar" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!--div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/site-logo.png" class="img-responsive"></a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!--div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="col-md-8 col-sm-8 col-xs-12">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#">Auction</a></li>
          <li><a href="solution.html">Solution</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="career.html">Career</a></li>
          <li><a href="enquiry.html">Enquiry</a></li>
        </ul>
    
            <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
            </form>
        </div>
      </div><!-- /.navbar-collapse -->
    <!--/nav>
    </div>
    </div>
    </div>
    </div>
    <!---------Navigation-Bar------------>
    <!--/header>

				<!---------------Header----------------->
				<!---------------Featured-Image----------------->
					<!---------------Featured-Image----------------->		
					<!---------------Content---------------->
<div class="content">
	<div class="container">
<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			
            
    <div class="custom-blog-header-image">
        <img src="images/blog/blog2.png" class="img-responsive">
    </div>
</div>
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
<br>
<div class="custom-blog-para">
    <h1> BURJ KHALIFA
</h1>
<h4><i> Is the tallest structure in the world.         Height: 828m</i>
</h4>
    <p>  The Burj Dubai Project is a multi-use development tower with a total floor area of 460,000 square meters that includes residential, hotel, commercial, office, entertainment, shopping, leisure, and parking facilities.
                                                                 The Burj Dubai project is designed to be the centerpiece of the large scale Burj Dubai Development that rises into the sky to height that exceeds 700 meters and that consists of more than 160 floors. 
                   The Client of Burj Dubai Tower, Emaar Properties, is a major developer of lifestyle real estate in the Middle East. Turner International has been designated by the owner as the Construction Manager, and Samsung Joint Venture  as the General Contractor.                                                                                                                                  
The design of Burj Dubai Tower is derived from geometries of the desert flower, which is indigenous to the region,and the patterning systems embodied in Islamic architecture.
</p><h4>FOUNDATION SYSTEM:   </h4>  
<p>                                                                                                        

The Tower is founded on a 3700mm thick high performance reinforced concrete pile supported raft foundation at -7.55 DMD. The reinforced concrete raft foundation utilizes high performance Self Compacting Concrete (SCC) and is placed over a minimum 100mm blinding slab over waterproofing membrane, over at least 50mm blinding slab. The raft foundation bottom and all sides are protected with waterproofing membrane for the Raft Foundation System.

</p>
<p> The piles are 1500mm diameter, high performance reinforced concrete bored piles, extending approximately 45 meters below the base of the raft. All piles utilize self compacting concrete (SCC) with ratio not exceeding 0.30, placed in one continuous concrete pour using the tremie method. The final pile elevations are founded at -55 DMD to achieve the assumed pile  capacities of 3000 tonnes.
        A robust cathodic protection system for both the bored piles and the raft foundation system protects the foundation and the reinforced concrete raft against the severe and corrosive environment (chloride and sulfate) of the soil at the Burj Dubai site.
</p>
</div>
</div>
</div><hr>





		</div>
	</div>


</div>
					<!---------------Content---------------->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="images/footer-logo.png" class="img-responsive" alt="" title="">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<div class="footer-nav">	
				<div class="menu-area">
					<h4>Equipments</h4>
					<ul class="list-unstyled">
						<li><a href="#">Popular</a></li>
						<li><a href="#">Trending</a></li>
						<li><a href="#">Catalog</a></li>
						<li><a href="#">Features</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Company</h4>
					<ul class="list-unstyled">
						<li><a href="/">Home</a></li>
						<li><a href="email">Rentals</a></li>
						<li><a href="solution.html">Solutions</a></li>
						<li><a href="blog.html">Blog</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Info</h4>
					<ul class="list-unstyled">
						<li><a href="#">Rental Terms</a></li>
						<li><a href="#">Disclaimer</a></li>
						<li><a href="policy.html">Privacy Policy</a></li>
						<li><a href="terms.html">Tearms of Service</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="col-lg-offset-0 col-lg-2 col-md-offset-0 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-2 col-xs-8 minus-margin">
				<h4>Follow Us</h4>
				<ul class="list-inline list-unstyled footer-social-icon">
				<li><a href="https://www.facebook.com/equipshare.in/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/equip_share" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/company/equipshare/?originalSubdomain=in" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
			</ul>
			<a href="#" class="contact-btn">Contact Us</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copy-right"><p>&copy;2018 EquipShare. All rights reserved</p></div>
		</div>
	</div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript">
	$('.single-item').slick();
</script>
<script src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:0,
    autoplay:true,
    autoplayTimeout:6000,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:false
        },
        1000:{
            items:1,
            nav:true,
            loop:true
        }
    }
})
</script>
<script>
	$(window).scroll(function(){
    if ($(window).scrollTop() >= 50) {
        $('.site-navigation').addClass('fixed-header');
    }
    else {
        $('.site-navigation').removeClass('fixed-header');
    }
});

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112031235-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112031235-1');
</script>
</body>
</html>
