<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="EquipShare is a construction equipment sharing platform enabling contractors, concrete suppliers, developers and other associated agencies as well professionals to manage their equipments efficiently and effectively as well who have unused equipment can rent their idle equipment to other peers at and earn on the time which anyway going to be idle cost to a rental income. ">
	<meta name="keywords" content="Construction equipment rental, Equipment hiring, construction equipment sharing, equipment leasing, equipment selling, used equipment buying, sharing of equipment, equip share,">
	<title>Equipshare : Online construction equipment share, hiring, buy and sales available at ease.</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body class="Blog-page detail-page">
		<%- include header.ejs %>
						<!---------------Header----------------->	
<header>
<!---------Navigation-Bar------------>
<!--header>
    <div class="head-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
                <ul class="list-inline list-unstyled info">
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@equipshare.in">info@equipshare.in</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91 9767460825">+91 9767460825</a></li>
                </ul>
            </div>
            <div class="col-lg-offset-5 col-lg-3 col-md-offset-3 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-5 social-icon-col">
                <ul class="list-inline list-unstyled social-icon">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
                <div class="logon-btns">
                    <a href="#">Login</a> | <a href="#">Signup</a>
                </div>
            </div>
    
        </div>
    </div>	
    
    </div>	
    
    <!---------Navigation-Bar------------>
    <!--div class="site-navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <nav class="navbar" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!--div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/site-logo.png" class="img-responsive"></a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!--div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="col-md-8 col-sm-8 col-xs-12">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#">Auction</a></li>
          <li><a href="solution.html">Solution</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="career.html">Career</a></li>
          <li><a href="enquiry.html">Enquiry</a></li>
        </ul>
    
            <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
            </form>
        </div>
      </div><!-- /.navbar-collapse -->
    <!--/nav>
    </div>
    </div>
    </div>
    </div>
    <!---------Navigation-Bar------------>
    <!--/header>

				<!---------------Header----------------->
				<!---------------Featured-Image----------------->
					<!---------------Featured-Image----------------->		
					<!---------------Content---------------->
<div class="content">
	<div class="container">
<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			
            
    <div class="custom-blog-header-image">
        <img src="public/images/blog/blog4.PNG" class="img-responsive">
    </div> 
</div>
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
<br>
<div class="custom-blog-para">
    <h1>5 FAMOUS INFRASTRUCTURAL PROJECTS CRAWLING IN INDIA
</h1>
    <p>Indian architecture is as old as the history of civilization. Development of a country depends upon how much  urbanised it is .
There is no point of explaining that how much importance the construction of the eye catching building and structures hold in the economic strength of the country.
It not only adds a little flare to the beauty of a place but also gives employment to those thousands of unemployed youth who were starving for a single meal.
 </p>

 <p>A recent analysis by a private company says that this sector gives direct or indirect employment to more  35 million people throughout the country. However in spite of having so much importance and benefit towards a country's socio economic growth still such projects are crawling in India.

 </p>
 <p>Corruption can be a major reason behind it . Apart from it there are many factors influencing the completion time of any project. There are still hundreds of good projects that are still frozen in the government files.
 </p>
 <p>
    Lack of proper and faithful leadership and general public awareness is another reason.

 </p>
 <p>India is planned  to invest one trillion dollar on infrastructure between 2012 and 2017.
Construction activities form 10% of India's GDP and provides job to more than 30 million skilled and unskilled people.

 </p>
 <p>This accounts for more than 60% in the total infrastructural investment.

 </p>
 <p>There are plans by Indian ministry of Roads and Transport to invest an approximate amount of  60 billion dollars in India’s ports by 2020.
 </p>
 <p>
    Here are some major architectural projects that are still under construction or haven't yet started but once completed will serve for the welfare of the people to a great extent.
 </p>
 <h4>1)CHENAB RIVER RAILWAY BRIDGE :-</h4>
 <div class="custom-blog-header-image">
        <img src="images/blog/blog4a.PNG" class="img-responsive">
    </div>
 <p>It is a railway steel and concrete arc bridge that is under construction since 2004 and is expected to complete by 2019.
Once completed this will be the highest railway bridge in the world across the Indian state of Jammu and Kashmir over river Chenab connecting Udhampur near Jammu and Baramulla on the North eastern edge of Kashmir valley.It was declared as the national project in 2002 undertaken by northern railways.
When finished it will span the river Chenab at a height of 359 m (1178 ft) above the river.This 1.3 km long bridge is a part of the 73 km long Katra Dharam section of Udhampur Srinagar Baramulla Rail link (USBRL) project.

 </p>
 <h4>2) NAVI MUMBAI INTERNATIONAL AIRPORT:-</h4>
 <div class="custom-blog-header-image">
        <img src="images/blog/blog4b.PNG" class="img-responsive">
    </div>
 <p>
    It is located near Ulwe Kopar Panvel in Maharashtra. When completed it will be the second largest international airport for Mumbai metropolitan region functioning alongside Chhatrapati Shivaji International Airport (CSIA).
It is expected to complete by 2020 or beyond.By 2019 it will be capable of handling a capacity of 10 million passengers per annum and will expand to its full length by 2030 to handle a capacity of 60 million passengers per annum.Initially it's manufacturing cost was expected to be ₹4766 crores but at the present moment it has quadrapled to ₹1600 crores .As per the Navi Mumbai International Airport Limited this project aims at easing air traffic congestion at CSIA has been delayed due to some environmental and property disputes

 </p>

   <h4>3) DELHI MUMBAI INTERNATIONAL CORRIDOR:- </h4> 
   <div class="custom-blog-header-image">
        <img src="images/blog/blog4c.PNG" class="img-responsive">
    </div>
    <p>It is planned for development between India's capital Delhi and financial hub Mumbai.With it's estimated investment of US$90 billion it is one of the world's largest infrastructural projects.It connects 24 industrial region, 8 smart cities,2 international airports, 5 power projects,2 mass rapid transit system and 2 logistical hubs . The project is expected to complete by December 2019 .Japan will be the major investor of the project. Corridor will span 1483 km $4.5 billion was being initially funded by Japanese government as a loan for a period of 40 years at a nominal interest of 0.1%. Concieved as a global manufacturing and trading hub the project is expected to double employment potential, triple industrial output and quadraple exports from the region in 5 years.Project is expected it generate 3million jobs , largely in manufacturing.There are many educational institutions across states such as IIT, IIM and BITS .Many more such as IITs are planned along the corridor.
 </p>
 <h4>4) BANIHAL -QAZIGUND TUNNEL :- </h4>
 <div class="custom-blog-header-image">
        <img src="images/blog/blog4d.PNG" class="img-responsive">
    </div>
 <p> This includes 11.2 km Pir Panjal tunnel and offers reduced travel distances between the two towns,from the current 35 km by road . Section connects the Jammu region to the 119 km Kashmir valley line between Qazigund , Srinagar and Baramulla.Construction started in 2011 along with the project to widen NH 44 to four lanes. When completed the tunnel would reduce the road distance between Banihal and Qazigund by </p>
 <h5>5) DEDICATED FREIGHT CORRIDOR:-</h5>
 <div class="custom-blog-header-image">
        <img src="images/blog/blog4e.PNG" class="img-responsive">
    </div>
 <p>It is expected to complete by 2019 and will be constructed in 2 routes covering a total length of 3360 km with Eastern Dedicated Freight Corridor from Ludhiana in Punjab to Dankuni in West Bengal and the Western Dedicated Freight Corridor from Jawaharlal Nehru port in Mumbai to Dadri in Uttar Pradesh.It aims at increasing the profits and punctuality rate to 95%.Currently only 80%of trains run on time in India . An approximate amount of ₹35000 crores have been granted for the Dedicated Freight Corridor.</p>
</div>
</div>
</div><hr>





		</div>
	</div>


</div>
					<!---------------Content---------------->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="images/footer-logo.png" class="img-responsive" alt="" title="">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<div class="footer-nav">	
				<div class="menu-area">
					<h4>Equipments</h4>
					<ul class="list-unstyled">
						<li><a href="#">Popular</a></li>
						<li><a href="#">Trending</a></li>
						<li><a href="#">Catalog</a></li>
						<li><a href="#">Features</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Company</h4>
					<ul class="list-unstyled">
						<li><a href="/">Home</a></li>
						<li><a href="email">Rentals</a></li>
						<li><a href="solution.html">Solutions</a></li>
						<li><a href="blog.html">Blog</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Info</h4>
					<ul class="list-unstyled">
						<li><a href="#">Rental Terms</a></li>
						<li><a href="#">Disclaimer</a></li>
						<li><a href="policy.html">Privacy Policy</a></li>
						<li><a href="terms.html">Tearms of Service</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="col-lg-offset-0 col-lg-2 col-md-offset-0 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-2 col-xs-8 minus-margin">
				<h4>Follow Us</h4>
				<ul class="list-inline list-unstyled footer-social-icon">
				<li><a href="https://www.facebook.com/equipshare.in/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/equip_share" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/company/equipshare/?originalSubdomain=in" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
			</ul>
			<a href="#" class="contact-btn">Contact Us</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copy-right"><p>&copy;2018 EquipShare. All rights reserved</p></div>
		</div>
	</div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript">
	$('.single-item').slick();
</script>
<script src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:0,
    autoplay:true,
    autoplayTimeout:6000,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:false
        },
        1000:{
            items:1,
            nav:true,
            loop:true
        }
    }
})
</script>
<script>
	$(window).scroll(function(){
    if ($(window).scrollTop() >= 50) {
        $('.site-navigation').addClass('fixed-header');
    }
    else {
        $('.site-navigation').removeClass('fixed-header');
    }
});

</script>
</body>
</html>
