<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="EquipShare is a construction equipment sharing platform enabling contractors, concrete suppliers, developers and other associated agencies as well professionals to manage their equipments efficiently and effectively as well who have unused equipment can rent their idle equipment to other peers at and earn on the time which anyway going to be idle cost to a rental income. ">
	<meta name="keywords" content="Construction equipment rental, Equipment hiring, construction equipment sharing, equipment leasing, equipment selling, used equipment buying, sharing of equipment, equip share,">
	<title>Equipshare : Online construction equipment share, hiring, buy and sales available at ease.</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body class="listing-page">	
	
    	<%- include header.ejs %>
						<!---------------Header----------------->	
<header>
<div class="head-info">
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
			<ul class="list-inline list-unstyled info">
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@equipshare.in">info@equipshare.in</a></li>
				<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91 9767460825">+91 9767460825</a></li>
			</ul>
		</div>
		<div class="col-lg-offset-5 col-lg-3 col-md-offset-3 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-5 social-icon-col">
			<ul class="list-inline list-unstyled social-icon">
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
			</ul>
			<div class="logon-btns">
				<a href="#">Login</a>
			</div>
		</div>

	</div>
</div>	

</div>	

<!---------Navigation-Bar----------->
<div class="site-navigation">
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<nav class="navbar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display --->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="images/site-logo.png" class="img-responsive"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling --->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="col-md-8 col-sm-8 col-xs-12">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="listing">Equipment</a></li>
      <li><a href="solution.html">Solution</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="career.html">Career</a></li>
      <li><a href="email">Enquiry</a></li>
    </ul>

       
    </div>
  </div><!-- /.navbar-collapse --->
</nav>
</div>
</div>
</div>
</div>
<!---------Navigation-Bar------------->
</header>
				<!---------------Header----------------->
				<!---------------Featured-Image---------------->
<div class="Featured-image">
	<div class="caption">
		<h2>Equipments</h2>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
	<img src="images/featured-img.jpg" class="img-responsive">
	<a href="#" class="back-top-home"><img src="images/home-icon.png" class="img-responsive"></a>
</div>
					<!---------------Featured-Image----------------->		
					<!---------------Content---------------->
<div class="content">
	<div class="content-area">
<!-- 
<div class="container">
		<div class="row search-form">
			<h3>Equipments</h3>
			<div class="col-left">
			<form method="get" action="">
				<div class="col">
			<label>Category</label>
			<select>
			<option>Select Category</option>
			<option>Select Category</option>
			<option>Select Category</option>
			<option>Select Category</option>
		</select>
		</div>
		<div class="col">
			<label>Sort by</label>
			<select>
			<option>Price - Low to High</option>
			<option>Price - Low to High</option>
			<option>Price - Low to High</option>
			<option>Price - Low to High</option>
		</select>
		</div>
			</form>
		</div>
		<div class="col-right">

			<div class="input-group">
      <input type="text" class="form-control" placeholder="Search Machine">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i>
</button>
      </span>
    </div>
		</div>
		</div>
</div> -->
<div class="container">

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class="featured-mach">
					<div class="mach-img"></div>
			<div class="center-block text-center">
				<div class="desc manual-desc">
					<img src="images/product-images/Copy of Backhoe.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
					</div>
					<h4>Backhoe</h4>
					<p class="custom-overflow">Backhoe loaders are very common and can be used for a wide variety of tasks: construction, small demolitions, light transportation of building materials, powering building equipment, digging holes/excavation, landscaping, breaking asphalt, and paving roads. Often, the backhoe bucket can also be replaced with powered attachments such as a breaker, grapple, auger, or a stump grinder.</p>

				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<p style="color: #01be4a"><strong>Rental Rate</strong></p>
						<p style="color:#01be4a"><i class="fa fa-inr"></i>75K</p>

					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<p style="color:#01be4a"><strong>Lease Rate</strong></p>
							<p style="color:#01be4a"><i class="fa fa-inr"></i>70K</p>
	
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<p style="color:#01be4a"><strong>New Rate</strong></p>
								<p style="color:#01be4a"><i class="fa fa-inr"></i>25L</p>
		
							</div>
				</div>
				

			
			
			</div>
			</div>

		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="featured-mach">
						<div class="mach-img"></div>
				<div class="center-block text-center">
					<div class="desc manual-desc">
						<img src="images/product-images/Copy of batching-plant.jpg" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
						</div>
						<h4>Batching Plant</h4>
						<p class="custom-overflow">A concrete plant, also known as a batch plant or batching plant or a concrete batching plant, is equipment that combines various ingredients to form concrete. Some of these inputs include water, air, admixtures, sand, aggregate (rocks, gravel, etc.), fly ash, silica fume, slag, and cement. There are two main types of concrete plants: Dry mix plants and Wet mix plants, and also plants that contain both a transit mix side and a central mix side while utilizing common material storage points.
								A concrete plant can have a variety of parts and accessories, including: mixers (either tilt drum or horizontal or in some cases both), cement batchers, aggregate batchers, conveyors, radial stackers, aggregate bins, cement bins, heaters, chillers, cement silos, batch plant controls, and dust collectors. 
								Typical plants are used for ready mix, civil infrastructure, and precast applications.</p>
	
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<p style="color:#01be4a"><strong>Rental Rate</strong></p>
							<p style="color:#01be4a"><i class="fa fa-inr"></i>1.6L</p>
	
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<p style="color:#01be4a"><strong>Lease Rate</strong></p>
								<p style="color:#01be4a"><i class="fa fa-inr"></i>.2L</p>
		
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color:#01be4a"><strong>New Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>65L</p>
			
								</div>
					</div>
	
	
					</div>
					</div>
	
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="featured-mach">
							<div class="mach-img"></div>
					<div class="center-block text-center">
						<div class="desc manual-desc">
							<img src="images/product-images/Copy of concrete-boom-pump-20-07-z-500x500.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
						</div>
							<h4>Boom Placer</h4>
							<p class="custom-overflow">concrete pump is a machine used for transferring liquid concrete by pumping. ... It is known as a boomconcrete pump because it uses a remote-controlled articulating robotic arm (called a boom) to place concrete accurately.</p>
		
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<p style="color:#01be4a"><strong>Rental Rate</strong></p>
								<p style="color:#01be4a"><i class="fa fa-inr"></i>4.7L</p>
		
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color:#01be4a"><strong>Lease Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>4.2L</p>
			
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>New Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>1.2Cr.</p>
				
									</div>
						</div>
		
		
						</div>
						</div>
		
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="featured-mach">
								<div class="mach-img"></div>
						<div class="center-block text-center">
							<div class="desc manual-desc">
								<img src="images/product-images/Copy of Dozers.jpg" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
							</div>
								<h4>Dozer</h4>
								<p class="custom-overflow">Dozer supports simple property mapping, complex type mapping, bi-directional mapping, implicit-explicit mapping, as well as recursive mapping. This includes mapping collection attributes that also need mapping at the element level.</p>
			
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color: #01be4a"><strong>Rental Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>23L</p>
			
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>Lease Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>20L</p>
				
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color:#01be4a"><strong>New Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>1.1Cr.</p>
					
										</div>
							</div>
			
			
							</div>
						</div>
			
					</div>
			

	</div>

	<!--second row here-->
	<div class="row">
			
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="featured-mach">
							<div class="mach-img"></div>
					<div class="center-block text-center">
						<div class="desc manual-desc">
							<img src="images/product-images/Copy of Excavator.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
						</div>
							<h4>Excavator</h4>
							<p class="custom-overflow">Hydraulic Excavators are heavy construction equipment consisting of a boom, dipper (or stick), bucket and cab on a rotating platform known as the "house”. The house sits atop an undercarriage with tracks or wheels. They are a natural progression from the steam shovels and often mistakenly called power shovels. All movement and functions of a hydraulic excavator are accomplished through the use of hydraulic fluid, with hydraulic cylinders and hydraulic motors. Due to the linear actuation of hydraulic cylinders, their mode of operation is fundamentally different from cable-operated excavators which uses winches and steel ropes to accomplish the movements.</p>
		
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<p style="color:#01be4a"><strong>Rental Rate</strong></p>
								<p style="color:#01be4a"><i class="fa fa-inr"></i>20L</p>
		
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color:#01be4a"><strong>Lease Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>1.8L</p>
			
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>New Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>55L</p>
				
									</div>
						</div>
		
		
						</div>
						</div>
		
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="featured-mach">
								<div class="mach-img"></div>
						<div class="center-block text-center">
							<div class="desc manual-desc">
								<img src="images/product-images/Copy of Motor Grader.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
							</div>
								<h4>Motor Grader</h4>
								<p class="custom-overflow">The MOTOR GRADER is a Heavy Equipment having for main function to level ground. Generally, Motor Grader take the form of a long vehicle having a blade under his frame. Therefore, Motor Grader is often used for snow removal, paving and all works requiring precise ground levelling.</p>
			
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color:#01be4a"><strong>Rental Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>3L</p>
			
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>Lease Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>2.5L</p>
				
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color:#01be4a"><strong>New Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>1.25Cr.</p>
					
										</div>
							</div>
			
			
							</div>
							</div>
			
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="featured-mach">
									<div class="mach-img"></div>
							<div class="center-block text-center">
								<div class="desc manual-desc">
									<img src="images/product-images/Copy of Self Loading Mixer.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
								</div>
									<h4>Self Loading Mixer</h4>
									<p class="custom-overflow">Concrete mixer is a piece of equipment that is used for transporting concrete/ mortar or ready mix material from a concrete batching plant directly to the site where it is to be utilized. ... Concrete mixing drum ensures the liquid state of materials through rotation of the drum about its own axis</p>
				
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>Rental Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>2.60L</p>
				
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color:#01be4a"><strong>Lease Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>2.20L</p>
					
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<p style="color:#01be4a"><strong>New Rate</strong></p>
												<p style="color:#01be4a"><i class="fa fa-inr"></i>50L</p>
						
											</div>
								</div>
				
				
								</div>
								</div>
				
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="featured-mach">
										<div class="mach-img"></div>
								<div class="center-block text-center">
									<div class="desc manual-desc">
										<img src="images/product-images/Copy of SOIL_COMPACTOR_1151.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
									</div>
										<h4>Soil Compactor</h4>
										<p class="custom-overflow">Dozer supports simple property mapping, complex type mapping, bi-directional mapping, implicit-explicit mapping, as well as recursive mapping. This includes mapping collection attributes that also need mapping at the element level.</p>
					
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color:#01be4a"><strong>Rental Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>1L</p>
					
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<p style="color:#01be4a"><strong>Lease Rate</strong></p>
												<p style="color:#01be4a"><i class="fa fa-inr"></i>80K</p>
						
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
													<p style="color:#01be4a"><strong>New Rate</strong></p>
													<p style="color:#01be4a"><i class="fa fa-inr"></i>35L</p>
							
												</div>
									</div>
					
					
									</div>
									</div>
					
							</div>
	
		</div>

	<!--end second row here-->

	<!--third row here-->
	<div class="row">
		
			
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="featured-mach">
								<div class="mach-img"></div>
						<div class="center-block text-center">
							<div class="desc manual-desc">
								<img src="images/product-images/Copy of StaticPump1800sml.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
							</div>
								<h4>Static Concrete Pump</h4>
								<p class="custom-overflow">concrete pump is either mounted on a truck or placed on a trailer, and it is commonly referred to as a line pump or trailer-mounted concrete pump. This pump requires steel or flexible concrete placing hoses to be manually attached to the outlet of the machine. Those hoses are linked together and lead to wherever the concrete needs to be placed. Line pumps normally pump concrete at lower volumes than boom pumps and are used for smaller volume concrete placing applications such as swimming pools, sidewalks, and single family home concrete slabs and most ground slabs.</p>
			
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color:#01be4a"><strong>Rental Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
			
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>Lease Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
				
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color:#01be4a"><strong>New Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
					
										</div>
							</div>
			
			
							</div>
							</div>
			
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="featured-mach">
									<div class="mach-img"></div>
							<div class="center-block text-center">
								<div class="desc manual-desc">
									<img src="images/product-images/Copy of Telehandler.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
								</div>
									<h4>Telehandler</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>Rental Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
				
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color:#01be4a"><strong>Lease Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
					
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<p style="color:#01be4a"><strong>New Rate</strong></p>
												<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
						
											</div>
								</div>
				
				
								</div>
								</div>
				
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="featured-mach">
										<div class="mach-img"></div>
								<div class="center-block text-center">
									<div class="desc manual-desc">
										<img src="images/product-images/Copy of Tendum Roller.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
									</div>
										<h4>Tandem Roller</h4>
										<p class="custom-overflow">Tandem vibratory rollers compact freshly placed asphalt mats to specific densities using two, smooth steel drums that vibrate to consolidate the material. Many have sophisticated systems that continually measure density as compaction progresses and adjust compaction effort to avoid over-compaction. Using GPS and proprietary software, some rollers can capture a digital record of compaction results.</p>
					
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color: #01be4a"><strong>Rental Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
					
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<p style="color:#01be4a"><strong>Lease Rate</strong></p>
												<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
						
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
													<p style="color:#01be4a"><strong>New Rate</strong></p>
													<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
							
												</div>
									</div>
					
					
									</div>
								</div>
					
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
									<div class="featured-mach">
											<div class="mach-img"></div>
									<div class="desc center-block text-center">
											<img src="images/product-images/Copy of TM PIC.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
											<h4>Concrete Mixer</h4>
											<p class="custom-overflow">Concrete mixer is a piece of equipment that is used for transporting concrete/ mortar or ready mix material from a concrete batching plant directly to the site where it is to be utilized. ... Concrete mixing drum ensures the liquid state of materials through rotation of the drum about its own axis</p>
						
										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<p style="color:#01be4a"><strong>Rental Rate</strong></p>
												<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
						
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
													<p style="color:#01be4a"><strong>Lease Rate</strong></p>
													<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
							
												</div>
												<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
														<p style="color:#01be4a"><strong>New Rate</strong></p>
														<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
								
													</div>
										</div>
						
						
										</div>
										</div>
						
								</div>
	
		</div>

	<!--end third row here-->

	<!--third row here-->
	<div class="row">
		
			
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="featured-mach">
							<div class="mach-img"></div>
					<div class="center-block text-center">
						<div class="desc manual-desc">
							<img src="images/product-images/Sensor Paver.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
						</div>
							<h4>Sensor Paver</h4>
							<p class="custom-overflow"> Sensor pavers place hot-mix asphalt and range in size from those that work on golf-cart paths, to those working on interstate highways. Material received in a front hopper is moved rearward by gravity or by conveyors, and augers spread material in front of the screed, a smooth steel plate that sets the asphalt mat's thickness and grade, using heat and vibration to consolidate and finish the material.
								</p>
		
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<p style="color:#01be4a"><strong>Rental Rate</strong></p>
								<p style="color:#01be4a"><i class="fa fa-inr"></i>2.80L</p>
		
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color:#01be4a"><strong>Lease Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>2.50L</p>
			
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>New Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>65L</p>
				
									</div>
						</div>
		
		
						</div>
						</div>
		
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="featured-mach">
								<div class="mach-img"></div>
						<div class="center-block text-center">
							<div class="desc manual-desc">
								<img src="images/product-images/Slip Form Paver.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
							</div>
								<h4>Slip Form Paver</h4>
								<p class="custom-overflow">The paver usually performs screeding, consolidation and initial finishing. A typical track-mounted, self-propelled paver operates at speeds between 1 and 2.5 m/minute (3 and 8 ft./min) (ACPA, 1995). Some pavers are equipped to place reinforcing steel (if needed), dowel bars and tie rods as well. Figure 4 shows the basic slipform paving process as it occurs underneath the paver. First, an auger spreads the PCC in front of the strike off plate. Second, the strike off plate (screed) removes excess portions of the auger-placed PCC and brings the slab near its final elevation. Third, the PCC is consolidated by a group of vibrators. Fourth, a tamper (typically operating between 0 and 150 strokes per minute), if present, pushes large aggregate particles below the slab surface. Finally, the profile pans level off the slab at the right elevation and provide initial finishing. The remainder of this section describes this process in more detail.</p>
			
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color:#01be4a"><strong>Rental Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>23L</p>
			
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>Lease Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>20L</p>
				
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color:#01be4a"><strong>New Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>5Cr.</p>
					
										</div>
							</div>
			
			
							</div>
							</div>
			
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="featured-mach">
									<div class="mach-img"></div>
							<div class="center-block text-center">
								<div class="desc manual-desc">
									<img src="images/product-images/TipperMultiAxle.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
								</div>
									<h4>Tipper</h4>
									<p class="custom-overflow">Tandem vibratory rollers compact freshly placed asphalt mats to specific densities using two, smooth steel drums that vibrate to consolidate the material. Many have sophisticated systems that continually measure density as compaction progresses and adjust compaction effort to avoid over-compaction. Using GPS and proprietary software, some rollers can capture a digital record of compaction results.</p>
				
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color: #01be4a"><strong>Rental Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>1.50L</p>
				
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color:#01be4a"><strong>Lease Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>1.20L</p>
					
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<p style="color:#01be4a"><strong>New Rate</strong></p>
												<p style="color:#01be4a"><i class="fa fa-inr"></i>35L</p>
						
											</div>
								</div>
				
				
								</div>
							</div>
				
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="featured-mach">
										<div class="mach-img"></div>
								<div class="desc center-block text-center">
										<img src="images/product-images/Wheel Loader.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
										<h4>Front End Loader</h4>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p style="color:#01be4a"><strong>Rental Rate</strong></p>
											<p style="color:#01be4a"><i class="fa fa-inr"></i>1.30L</p>
					
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<p style="color:#01be4a"><strong>Lease Rate</strong></p>
												<p style="color:#01be4a"><i class="fa fa-inr"></i>1L</p>
						
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
													<p style="color:#01be4a"><strong>New Rate</strong></p>
													<p style="color:#01be4a"><i class="fa fa-inr"></i>40L</p>
							
												</div>
									</div>
					
					
									</div>
									</div>
					
							</div>

	</div>

<!--end third row here-->

<!--fifth row here-->
<div class="row">
		
			
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="featured-mach">
						<div class="mach-img"></div>
				<div class="center-block text-center">
					<div class="desc manual-desc">
						<img src="images/product-images/Tower Crane.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
					</div>
						<h4>Tower Crane</h4>
						<p class="custom-overflow">The TOWER CRANE is a fixed Crane and have to be mounted On-Site. The Tower Crane present itself like a vertical metallic structure having a horizontal boom that can turn over an angle up to 360°. From his particular setting up, the TOWER CRANE is ideal for all king of high building or high structure Construction</p>
	
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<p style="color:#01be4a"><strong>Rental Rate</strong></p>
							<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
	
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<p style="color:#01be4a"><strong>Lease Rate</strong></p>
								<p style="color:#01be4a"><i class="fa fa-inr"></i>50000</p>
		
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color:#01be4a"><strong>New Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>9.5L</p>
			
								</div>
					</div>
	
	
					</div>
					</div>
	
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="featured-mach">
							<div class="mach-img"></div>
					<div class="center-block text-center">
						<div class="desc manual-desc">
							<img src="images/product-images/Crawler Crane.png" class="img-responsive center-block text-center" alt="Concrete Mixer" title="Concrete Mixer">
						</div>
							<h4>Crawler Crane</h4>
							<p class="custom-overflow">A crawler crane consists of an upper carriage mounted on a crawler type undercarriage. The upper deck and attachments rotate 360º. A crawler crane features either a box or a lattice type straight boom and it may be equipped with an optional jib (boom extension).</p>
		
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<p style="color:#01be4a"><strong>Rental Rate</strong></p>
								<p style="color:#01be4a"><i class="fa fa-inr"></i>2.50L</p>
		
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p style="color:#01be4a"><strong>Lease Rate</strong></p>
									<p style="color:#01be4a"><i class="fa fa-inr"></i>2.20L</p>
			
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<p style="color:#01be4a"><strong>New Rate</strong></p>
										<p style="color:#01be4a"><i class="fa fa-inr"></i>80L</p>
				
									</div>
						</div>
		
		
						</div>
						</div>
		
				</div>
			

</div>

<!--end fifth row here-->








					
</div>
</div>
					<!---------------Content---------------->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<a href="/"><img src="images/footer-logo.png" class="img-responsive" alt="" title=""></a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<div class="footer-nav">	
				<div class="menu-area">
					<h4>Equipments</h4>
					<ul class="list-unstyled">
						<li><a href="#">Popular</a></li>
						<li><a href="#">Trending</a></li>
						<li><a href="#">Catalog</a></li>
						<li><a href="#">Features</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Company</h4>
					<ul class="list-unstyled">
						<li><a href="/">Home</a></li>
						<li><a href="listing.html">Rentals</a></li>
						<li><a href="solution.html">Solutions</a></li>
						<li><a href="blog.html">Blog</a></li>
					</ul>
				</div>
				<div class="menu-area">
					<h4>Info</h4>
					<ul class="list-unstyled">
						<li><a href="#">Rental Terms</a></li>
						<li><a href="#">Disclaimer</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Tearms of Service</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div class="col-lg-offset-0 col-lg-2 col-md-offset-0 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-2 col-xs-8 minus-margin">
				<h4>Follow Us</h4>
				<ul class="list-inline list-unstyled footer-social-icon">
				<li><a href="https://www.facebook.com/equipshare.in/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/equip_share"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/company/equipshare/?originalSubdomain=in"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
			</ul>
			<a href="email" class="contact-btn">Contact Us</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copy-right"><p>&copy;2018 EquipShare. All rights reserved</p></div>
		</div>
	</div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript">
	$('.center').slick({
  centerMode: true,
  dots: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
</script>
<script src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:0,
    autoplay:true,
    autoplayTimeout:6000,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:1,
            nav:false
        },
        1000:{
            items:1,
            nav:true,
            loop:true
        }
    }
})
</script>
<script>
	$(window).scroll(function(){
    if ($(window).scrollTop() >= 50) {
        $('.site-navigation').addClass('fixed-header');
    }
    else {
        $('.site-navigation').removeClass('fixed-header');
    }
});

</script>
</body>
</html>